<div class="page-header">
  <h1><%= "Help Page" %></h1>
</div>

<% @help.each do |help| %>
	<div class="well">
		<div class="row-fluid" id=<%= help.title.gsub(" ","_") %> >
			<div class="span12">
				<h3><%= help.title %></h3>
				<p class="center"><%= simple_format(help.content).html_safe %></p>
			</div>
		</div>
	</div>
	<div class = "spacer"></div>
<% end %>
