<div class="row-fluid">
	<div class="span12">
		<h1>UCD School of Archaeology</h1>
		<h2>Irish Stone Axe Project</h2>
	</div>
</div>
<br /><br />
<div class="row-fluid">
	<div class="span4">
		<img src="assets/isap_logo.jpg" alt="ISAP logo"></img>
	</div>
	
	<div class="span8">
		<p>Stone axes have long been considered one of the characteristic artefact types of the Neolithic Period in Ireland (4000-2500 BC), and they are known to have been in use from the earliest phase of human settlement in the Early Mesolithic Period (c. 7000 BC), to well into the Bronze Age, from 2500 BC onwards. We now know that there are over 20,000 stone axes in Ireland, and this number will invariably rise as axes continue to come to light. Representing such a large body of data, stone axes are as invaluable a tool to the archaeologist interpreting early prehistoric society as they were in the lives of the people who used them. Studies of their distribution and context give an indication of use and exchange patterns, and the many different methods and styles of manufacture provide clues as to the complex social and economic role that they clearly played. </p>
		
		<p>The Irish Stone Axe Project (ISAP) was set up in 1990. Through the 1990s it had substantial research funding from the Heritage Council which provided the essential funding for the research programme of the project which is centred on the compilation and utilization of a computerized database. This incorporates contextual, morphological and petrological information on all known stone axes. The database is the basis for further research on different aspects of the production, distribution and deposition of Irish stone axes.</p>
	
		<p>The Project has just received (2006) a major grant from the Irish Research Council for the Humanities and Social Sciences to develop a web-based version of the database.</p>
	
		<p>The approach and methodology of ISAP is set out in:</p>
	
		<p>Cooney, G. and Mandal, S. 1998 The Irish Stone Axe Project Monograph 1. Dublin. Worldwell </p>
	</div>
</div>
